body {
    background-color: rgb(250, 184, 247);
}

#game div {
    border: 1px solid black;
    width: 20%;
    height: 200px;
    margin: 10px;
    display: inline-block;
    background-color: maroon;
    border: 5px solid white;
    border-radius: 15px;
}

div:hover {
    cursor: pointer;
}